.category-section {
    width: 100%;
    background: rgba(161, 255, 214, 0.96);
    display: inline-flex;
    padding: 20px;
}

.heading-div {
    width: 35%;
    text-align: center;
}

.body-div {
    width: 65%;
    padding: 15px;
}

.body-div div {
    display: inline-flex;
    justify-content: center;
}

.category-cards {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    transition: opacity 1.5s ease;
    animation: ease 1.5s;
}

.category-cards:out-of-range, .category-cards:hover {
    background: white;
    box-shadow: 1px 1px 20px rgb(197, 197, 197);
    transition: all 1s ease-in-out;
    animation: ease 1s;
    cursor: pointer;
}

.category-cards p {
    width: fit-content;
    margin: 0 auto;
}