.cardDiv {
  padding: 20px 0 20px 0;
}
.orderCard {
  width: 60%;
  margin: auto;
  border-radius: 20px !important;
  box-shadow: 0 3px 5px 2px rgb(214, 214, 214) !important;
}
.msg-quote-count-mobile {
  display: none !important;
}
.cardHeader {
  background-color: #e5e5e5;
  height: 55px;
}

.text-grid {
  width: 70%;
}

.media {
  height: 60;
  width: 60;
}
.orderDetails {
  display: inline-flex;
  color: grey;
  width: 50%;
}
@media screen and (max-width: 460px) {
  .orderCard {
    width: 90%;
  }
  .msg-quote-count-section {
    display: none !important;
  }
  .mediaPic {
    /* background-color: rgb(202, 202, 202) !important; */
    width: 100%;
    display: flex;
  }
  .msg-quote-count-mobile {
    display: flex !important;
    justify-content: space-around;
    width: 70%;
    align-items: center;
  }

  /* -------------------------------------------------------------------------- */
  /*                             RESPONSES OR QUOTES                            */
  /* -------------------------------------------------------------------------- */
  .problemTitle {
    display: none !important;
  }
  .problemTitle-Mobile {
    display: block !important;
    margin: 0 auto;
  }
}

/* -------------------------------------------------------------------------- */
/*                             RESPONSES OR QUOTES                            */
/* -------------------------------------------------------------------------- */

.problemTitle {
  text-align: center;
}
.problemTitle-Mobile {
  display: none;
}
.partnerPic {
  width: 50px;
  height: 50px;
}
.partnerThings {
  display: inline-flex;
  width: 40%;
  justify-content: space-evenly;
  font-weight: bold;
}
.otherDetails {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
  justify-content: center;
}
.miniCards {
  width: 90%;
  height: 50px;
  background-color: rgb(190, 190, 190);
  text-align: center;
  color: black;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-left: auto;
}
