:root {
  --primary-color: #008fdb;
  --secondary-color: white;
  --text-description: #5c5c5c;
  --shadow: 0px 0px 10px rgba(105, 105, 105, 0.1);
  --background-color: rgba(245, 245, 245, 0.952);
}
.about-page {
  font-family: "Gilroy Regular";
}
.desc {
  padding: 50px;

  display: inline-flex;
  // right: 30px;
  margin: 0 auto;
}

.desc div {
  width: 50%;
}

.desc-img-m {
  display: none;
}

.desc img {
  height: 300px;
  width: 500px;
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.text-desc {
  width: 500px;
  min-height: 250px;
  height: fit-content;
  background: rgba(99, 99, 99, 0.6);
  top: 25px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  margin-left: 140px;
  position: relative;
  color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.sec2 {
  width: 100%;
  text-align: center;
}

.team-div {
  display: inline-flex;
  margin: 0 auto;
  width: 57%;
  position: relative;
}

.team-div div {
  margin: 10px;
}

.team-div div img {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50px;
  border-radius: 10px;
  box-shadow: var(--shadow);

  z-index: 1 !important;
}

.Li-hover {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50px;
  margin: 0 !important;
  border-radius: 10px;

  z-index: 99 !important;
  text-align: center;
  padding: 0 auto;
  background: rgba(238, 238, 238, 0.678);
  transition: all 2s ease-in-out;
  cursor: pointer;
}

.li-icon {
  margin-top: 70px;
  color: rgb(4, 77, 173);
  height: 50px;
  width: 50px;
}

.desig1 {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px !important;
  margin-bottom: 10px !important;

  /* z-index: 9 !important; */
  /* height: fit-content; */
}

.desig1:hover .Li-hover {
  display: block;
  transition: all 2s ease-in-out;
  animation: fadeIn 1s;
}

.desig {
  position: absolute;
  background: rgba(238, 237, 237, 0.877);
  left: 50px;
  border-radius: 0 0 10px 10px;
  // box-shadow: var(--shadow);
  z-index: 9 !important;
  bottom: 0;
  text-align: left;
  width: 200px;
  top: 150px;
  margin: 0 !important;
}

.desig p {
  line-height: 6px;
  margin: 10px 25px;
}

.about-container {
  padding-top: 50px;
  width: 65%;
  margin: 0 auto;
  .about-head {
    text-align: center;
    font-size: 40px;
    font-weight: 600 !important;
    color: #4a4a4a;
    // font-family: "Gilroy Bold";
    font-family: "Gilroy Regular";
  }
  .about-desc {
    font-size: 18px;
    color: #565656;
  }
}
@media screen and (max-width: 700px) {
  .about-container {
    width: 85%;
  }
  .team-div {
    display: block;
  }

  .desc {
    display: block;
  }

  .desig1 {
    left: 23%;
    /* margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0; */
  }

  .desig {
    left: 0;
  }

  .Li-hover {
    left: 0;
  }

  .team-div div img {
    left: 0;
  }

  .desc img,
  .desc div,
  .text-desc,
  .team-div {
    width: 100%;
  }

  .desc-img-m{
    display: block;
  }

  .img-web {
    display: none;
  }

  .about-desc {
    text-align: justify;
  }

  .text-desc {
    margin-left: 0;
  }
}
