.Banner {
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
  border-radius: 10px;
}

.careers,
.success-div {
  /* margin-top: 40px; */
  padding-top: 40px;
  /* background: rgba(214, 214, 214, 0.966); */
  background: rgba(206, 219, 224, 0.966);
}

.success-div {
  height: 535px;
  text-align: center;
  padding: 0 auto;
}

.form-card {
  width: 100%;
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin: 20px 0;
}

.TextField {
  width: 100%;
  justify-self: left;

  padding: 30px 0;
  margin: 20px 0 !important;
}

.Submit {
  margin: 20px 0 40px 0 !important;
}

.TextField1 {
  width: 100%;
  justify-self: left;
}

.Checks {
  text-align: left;
}

.Labels {
  color: rgba(0, 0, 0, 0.6);
}

.slider {
  margin: 0 !important;
}

.careers-div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .careers-div {
    width: 95%;
  }

  .success-div {
    height: 330px;
  }
}
