.fade-in-section {
  opacity: 1;
  transform: translateY(2vh);
  /* visibility: hidden; */
  transition: opacity 0.9s ease-out, transform 4s ease-out;
  will-change: opacity, visibility;
}

.fade-out-section {
  opacity: 0;
  transform: translateY(0vh);
  /* visibility: hidden; */
  transition: opacity 0.1s ease-out, transform 0.2s ease-out;
  will-change: opacity, visibility;
}

.img-in {
  opacity: 1;
  transition: opacity 0.9s ease-in, transform 4s ease-in;
  will-change: opacity, visibility;
}

.img-out {
  opacity: 0;
  transition: opacity 0.1s ease-out, transform 0.2s ease-out;
  will-change: opacity, visibility;
}

/* .contactForm .formgroup .formcol {
  display: inline-flex !important;
  width: 60px;
} */

.m-img-in {
  opacity: 1;
  /* transform: translateY(5vh); */
  transform: translateY(2vh);
  transition: opacity 0.9s ease-in, transform 4s ease-out;
  will-change: opacity, visibility;
}

.m-img-out {
  opacity: 0;
  /* transform: translateY(-10vh); */
  transform: translateY(0vh);
  transition: opacity 0.1s ease-in, transform 0.2s ease-in;
  will-change: opacity, visibility;
}

.headTop {
  margin-top: 10px;
}

.headeranimate-in {
  opacity: 1;
  /* transform: translateX(-2px); */
  transition: opacity 1s ease, transform 2s ease;
  will-change: opacity, visibility;
}

.headeranimate-out {
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.1s ease, transform 0.2s ease;
  will-change: opacity, visibility;
}
/* .fade-in-section .is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
} */

.slide1 {
  display: block;
  margin-top: -20px;
  scroll-snap-type: y mandatory;
  /* overflow-y: auto; */
  /* height: 100vh; */
  /* overflow: scroll; */
  /* background: linear-gradient(
    30deg,
    rgb(253, 137, 102),
    rgba(108, 118, 252, 0.945),
    rgba(248, 77, 77, 0.932)
  ); */
  background: linear-gradient(45deg, #bc6ef7, #5fcdf3, #e5f0f7);
  /* background: rgba(158, 192, 243, 0.932); */
  overflow: auto;
}

.home-section {
  display: inline-flex;
  padding: 100px;
  scroll-snap-align: start;
  /* height: 500px; */
  width: 100%;
}

#joinBtn h1 {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: -2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-textBox {
  width: 50%;
  margin: 50px auto;
  text-align: left;
}

.home-textBox1 {
  margin: 50px auto;
  text-align: center;
}

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.LockPsw div {
  text-align: center;
  height: 150px;
  margin-bottom: 80px;
  color: rgba(29, 29, 29, 0.884);
  font-weight: 1200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.LockPsw div img {
  width: 40px;
  height: 40px;
}

.LockPsw div h2 {
  margin: 50px auto;
  font-size: 54px;
}
/* 
#LockDiv {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pwdReveal {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  font-size: 48px;
  color: #fff;
  letter-spacing: -0.3px;

  background-image: linear-gradient(
    75deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 33.33%,
    rgba(255, 255, 255, 0) 66.67%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 300% 100%;
  background-position-x: calc(100% - var(--percentage));

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */

.LockPsw {
  scroll-snap-align: start;
}

.home-textBox h1 {
  font-size: 64px;
  letter-spacing: -3.5px;
  color: rgba(29, 29, 29, 0.884);
  font-weight: 1200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-textBox {
  scroll-snap-align: start;
}

.home-textBox p {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: rgb(68, 68, 68);
}

#takepic img {
  height: 450px;
  width: 400px;
  color: rgb(185, 202, 238);
}

#servicepic img {
  height: 400px;
}

.home-photos,
.home-photos1 {
  width: 50%;
  margin-top: -100px;
  /* justify-items: center; */
}

.home-photos img {
  /* margin-left: 30%; */
  /* transform: rotate(30deg); */
  width: 500px;
  height: 550px;
}

.home-photos1 img {
  /* margin-left: 20%; */
  /* transform: rotate(-30deg); */
  width: 500px;
  height: 550px;
}

.feedBack {
  float: right;
  position: fixed;
  bottom: 10px;
  right: 7px;
  /* background: white; */
  width: 50px;
}

.fbModal {
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  width: 400px;
  margin-top: 100px;
  height: 355px;
  overflow-y: auto;
}

.modalContent {
  height: 220px;
}

.modalBack {
  display: inline-flex;
  height: 20px;
  cursor: pointer;
  /* background-color: #5fcdf3; */
}

.feedBackIcon {
  font-size: 44px;
  cursor: pointer;
}

.modalDiv {
  height: 150px;
  margin-left: 10px;
}
.feedBbtn {
  padding-right: 10px;
  margin-bottom: 10px;
}
.feedBbtn2 > * + * {
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .home-section {
    display: block;
    padding: 20px;
  }

  .home-textBox h1 {
    font-size: 48px;
  }

  .home-textBox p {
    font-size: 18px;
    letter-spacing: 0.25px;
  }

  .home-textBox {
    margin: -50px auto 75px auto;
  }

  /* .home-photos {
        margin-top: -700px;
        margin-bottom: 450px;
    } */

  /* .locationpic {
        margin-top: -400px;
    } */

  .textBox1 {
    margin-top: 20px;
  }

  .home-textBox,
  .home-photos,
  .home-photos1 {
    width: 100%;
    text-align: center;
  }

  .home-photos img,
  .home-photos1 img {
    /* margin-left: 15%; */
    margin-top: 120px;
    width: 300px;
    height: 350px;
  }

  #takepic img {
    height: 300px;
    width: 80%;
  }

  .LockPsw {
    margin: 50px auto 180px auto;
  }
}
.csTextDiv {
  height: fit-content;
  width: fit-content;
  background-color: #5fcdf3;
  margin: 0 auto;
}
.csText2 {
  background-color: black;
  display: inline;
  text-align: end;
  height: fit-content;
}
