:root {
  --footer-color: #4e4e4e;
  --footer-text-color1: white;
  --footer-text-color2: #c5c5c5;
}
// p {
//   color: var(--footer-text-color1);
// }

.footer-center {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-color);
}
.footer1-section {
  height: 200px;
  //background-color: var(--footer-color);
}
.footer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}
.footer-head {
  color: white;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}
.join-button {
  background-color: white !important;
  color: white;
}

.footer3 {
  width: 80%;
  padding: 10px 0 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    color: var(--footer-text-color2);
  }
  .made-in-india {
    width: fit-content;
    display: inline-flex;
    .india-emoji {
      font-size: 26px;
      margin-top: -1px;
      margin-left: 6px !important;
      width: 32px;
      height: 20px;
      border-radius: 4px;
    }
  }
  .rights-reserved {
    display: inline-flex;
    max-width: 60%;
  }
}
.footer3-section {
  height: fit-content;
  //  background-color: var(--footer-color);
  .horizontal-line {
    width: 80%;
    background-color: rgb(177, 177, 177);
    height: 0.6px;
  }
}

.footer2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 40px;
  p {
    color: white;
  }
  .footer-shead {
    color: white;
    font-size: 20px;
  }
  .footer-desc {
    color: var(--footer-text-color2);

    font-size: 12px;
    a {
      color: var(--footer-text-color2);
      margin: 0;
      &:hover {
        cursor: pointer;
        color: white;
      }
    }
    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  .footer2-section1 {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
  }
  .footer2-section2 {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
  }
}
.social-media-mobile {
  margin: 0 auto;
  padding-bottom: 15px;
  display: none;
}
.social-media,
.social-media-mobile {
  width: fit-content;
  padding-top: 10px;
  // padding: 10px;
  // margin: 10px;
  // background-color: yellow;
  .sm-icon {
    color: rgb(233, 233, 233);
    font-size: 24px;
    margin-right: 10px;
    &:hover {
      //   font-size: 24px;
      cursor: pointer;
    }
  }
  .fb {
    &:hover {
      color: #3b5998;
    }
  }
  .whatsapp {
    &:hover {
      color: #25d366;
    }
  }
  .instagram {
    &:hover {
      color: #e1306c;
    }
  }
  .linkedin {
    &:hover {
      color: #0077b5;
    }
  }
  .twitter {
    &:hover {
      color: #1da1f2;
    }
  }
  .youtube {
    &:hover {
      color: #ff0000;
    }
  }
}
.footer-child-mobile {
  display: none !important;
}
@media screen and (max-width: 820px) {
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 90%;
    margin: 0 auto;
  }
  .footer2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    .social-media {
      display: none;
    }
  }
  .social-media-mobile {
    display: block !important ;
  }
  .footer-child-web {
    display: none !important;
  }
  .footer-child-mobile {
    display: block !important;
    // margin-top: 10px;
    width: 30%;
  }
  .footer-child {
    margin-top: 20px;
    width: 30%;
  }
  .footer3-section {
    width: 100%;
    .footer3 {
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
      .rights-reserved {
        display: block;
      }
    }
    .horizontal-line {
      width: 100%;
    }
  }
  .made-in-india {
    width: fit-content;
    display: inline-flex;
    font-weight: bold !important;
    .india-emoji {
      font-size: 20px !important;
      margin-top: 0px !important;
      margin-left: 6px !important;
      width: 30px;
      height: 20px;
      border-radius: 5px;
    }
  }
}
