@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.navbar-title {
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  color: #444354;
  font-family: "Gilroy Bold" !important;
  font-size: 32px;
}
.tag-line {
  font-size: 11px;
  color: rgb(184, 184, 184);
  margin: 0;
  padding: 0;
  line-height: 0.5;
  font-family: "Gilroy Regular" !important;
}
.nav-tag-title {
  margin-top: 3px;
}
.logo-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar-logo {
  width: 165px;
  height: 40px;
  margin-top: 10px;

  margin-right: 4px;
}
.navi-bar {
  width: 100%;
  height: 90px;
  /* margin-bottom: 100px; */
  position: fixed;
  display: flex;
  background-color: hsl(0, 100%, 100%);
  /* background: rgba(39, 39, 39, 0.945); */
  z-index: 999;
  margin-top: 0;
  padding-top: 10px;
  color: rgb(105, 105, 105);
  /* color: white; */
}
.navi-bar-shadow {
  box-shadow: 0 4px 20px 0 hsl(0deg 0% 60% / 20%);
}

.nav-container {
  width: 85% !important;
}

/* .scrolled {
    position: fixed;
} */

.userhere {
  margin-top: 30px;
  font-weight: 600;
  color: black !important;
}

#collapsible-nav-dropdown {
  color: black;
}

.title {
  display: inline-flex;
  font-weight: 800;
  font-size: 25px;
  color: black !important;
  margin-top: 7px;
}

.title h2 {
  margin-top: 5px;
  margin-left: 1px;
  letter-spacing: 3px;
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
}

.title img {
  height: 45px;
  width: 40px;
  /* filter: drop-shadow(1px 1px 10px rgb(173, 173, 173)); */
  /* box-shadow: 1px 1px 10px rgb(141, 141, 141); */
  color: black;
  margin-top: 0;
}

.nav-links {
  margin-right: 30px;
  /* color: white !important; */
}

.nav-linkList {
  margin-top: -10px;
}

/* .nav-links b {
  color: white !important;
} */

.account-icon {
  color: rgb(17, 17, 17);
  margin-top: 10px;
  margin-right: -5px;
  margin-left: 10px;
}

.nav-icons {
  color: "black";
}

.chaticon {
  margin-top: 10px;
  color: rgb(56, 55, 55);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chaticon2 {
  margin-right: 3px;
  margin-top: -3px;
  color: rgb(80, 80, 80);
  font-size: 11px !important;
  /* margin-left: 20px; */
  /* margin-top: 2px; */
}

.post-img {
  width: 100px;
  height: 100px;
  display: inline-flex;
  border-radius: 15px;
}

.post-title {
  display: inline-flex;
  margin-left: 10px;
  padding-top: 20px;
}

.card-body {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.details-post {
  display: inline-flex;
}
.linear-progress {
  width: 100%;
  margin-top: 1px;
}
.bottom-navigation {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .nav-linkList {
    width: 100%;
  }

  .bottom-navigation {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navi-bar {
    min-height: 70px;
    height: fit-content;
  }
}

@media screen and (max-width: 420px) {
  .nav-container {
    width: 100% !important;
  }
  .navbar-title {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    font-size: 24px;
  }
  .tag-line {
    font-size: 10px;
    letter-spacing: 0.35px;
  }

  .navbar-logo {
    width: 130px;
    height: 35px;
    margin-top: 2px;
  }

  .title img {
    height: 40px;
    width: 30px;
  }
  .bottom-navigation {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .title h2 {
    font-size: 22px;
    margin-top: 5px !important;
  }

  .navi-bar {
    min-height: 50px;
  }

  .title h2 {
    margin-top: -2px;
  }
}
