.map {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
}
.map-modal {
  height: 40vh;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 630px) {
  .map {
    height: 50vh;
    margin: 0 auto;
  }
}
