.chatList, .chatListP{
    margin-top: 5px; 
    float: right;
    color: #646464; 
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 10px 5px 12px;
    width: fit-content;
    }

    /*chatbox head*/

    .chatHead {
        background: rgba(240, 240, 240, 0.925);
        box-shadow: 1px 1px 7px rgb(124, 124, 124);
        width: 100%;
        height: 50px;
        padding: 7px !important;
    }

    .out-chat, .in-chat {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    .out-chat {
        float: left;
        width: 46%;
        margin-left: 45%;
    }

    .in-chatbox {
        width: 52%;
    }

    .chatListP {
        float: left;
        background: #efefef none repeat scroll 0 0;
    }

    .chatList {
        background: #007bff none repeat scroll 0 0;
        color: #fff;
    }

 /* {
        margin-top: 5px;
        float: left;
        background: rgb(252, 250, 223);
        border-radius: 20px;
        font-size: 18px;
        padding: 3px;
        width: fit-content;
} */
.chat-form {
    width: 80%;
    margin-top: 10px !important;
}

.chatdiv {
    height: calc(100vh - 230px);
    /* color: rgb(141, 139, 139); */
}

.resHead {
    display: "inline-flex";
    background: #f6f6f6;
    color: white;
    width: 100%;
    height: 70px !important;
    padding-top: 28px !important;
    margin-top: -20px;
    margin-bottom: 0;
}

@media screen and (max-width: 420px) {
    .chat-form {
        width: 100%;
        
    }

    .chatdiv {
        height: calc(100vh - 210px);
    }
}
