/* top section */

.top-main {
    display: inline-flex;
    background: rgba(242, 242, 242, 0.938);
    width: 85%;
    margin: 50px 0 30px 100px;
}

.top-div {
    width: 50%;
    text-align: center;
}

.txt-div {
    padding: 80px;
}

.top-div h2 {
    width: fit-content;
    font-size: 46px;
    margin: 0 auto;
}

.girl-img {
    width: 100%;
    height: 500px;
}

.mobile-div {
    display: none;
}

/*            */
/*  Services  */
/*            */
.category-section {
    width: 100%;
    background: rgba(198, 247, 225, 0.96);
    display: inline-flex;
    padding: 20px;
}

.heading-div {
    width: 35%;
    text-align: center;
    padding-top: 80px;
}

.body-div {
    width: 65%;
    padding: 15px;
}

.row-div {
    display: inline-flex;
    /* justify-content: center; */
}

.category-cards {
    width: 150px;
    height: 150px;
    /* display: block; */
    margin: 10px;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    transition: opacity 1.5s ease;
    animation: ease 1.5s;
}

.category-cards:out-of-range, .category-cards:hover {
    background: white;
    box-shadow: 1px 1px 20px rgb(197, 197, 197);
    transition: all 1s ease-in-out;
    animation: ease 1s;
    cursor: pointer;
}

.icon-div {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    /* margin: 0 auto; */
    padding: 10px;
    background: rgb(255, 232, 203);
    border-radius: 50%;
}

.service-icon {
    font-size: 45px;
    width: 100% !important;
    color: rgb(79, 79, 79);
    /* margin: 0 auto; */
}

/*               */
/* How it works */
/*             */

.how-h2 {
    width: fit-content;
    margin: 20px auto 0 auto;
}

.how-div {
    display: inline-flex;
    justify-content: center;
}

.how-card {
    width: 200px;
    height: 250px;
}

/*          */
/*  Secure */
/*        */

.secure-section {
    width: 100%;
    padding: 30px;
    background: rgb(255, 231, 228);
    display: inline-flex;
}

.chick-img {
    height: 350px;
    width: 300px;
}

.secure-pic {
    width: 35%;
    padding-left: 100px;
}

.secure-body-div {
    width: 50%;
    padding-left: 80px;
}

.secure-body-div h2 {
    font-size: 46px;
}

.secure-desc {
    margin: 10px 0 20px 0;
    padding: 5px;
    border-left: 1px solid rgb(72, 72, 72);
}

.secure-card-holder {
    display: inline-flex;
}

.secure-card {
    width: 250px;
    padding: 8px 0 8px 0;
}

.secure-card h3 {
    margin: 3px 0 10px 0;
}

.secure-card-img {
    height: 60px;
    width: 80px;
    border-radius: 10px;
    margin: 5px 0 10px 0;
}


@media screen and (max-width:600px) {
    .web-p {
        display: none;
    }

    .top-main {
        display: block;
        width: 100%;
        margin: 0;
    }

    .top-div {
        width: 100%;
    }

    .top-div h2 {
        font-size: 26px;
    }

    .txt-div {
        padding: 20px;
    }

    .mobile-div {
        display: block;
        margin: 15px auto;
        padding: 5px;
        text-align: justify;
    }


    /*                     */
    /*   Services section */
    /*                   */

    .category-section {
        display: none;
    }

    /*                 */
    /*    security    */
    /*               */

    .secure-section {
        display: block;
        padding: 10px;
    }

    .secure-pic {
        width: fit-content;
        margin: 0 auto;
        padding-left: 0;
    }

    .secure-body-div {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .secure-body-div h2 {
        font-size: 26px;
    }
   
    .secure-card-holder {
        display: block;
    }
    
    .secure-card {
        margin: 0 auto;
    }


}