#formcard{
    border-radius: 1rem;
    width: 90%;
    border-top-style: solid;
    border-top-color: rgb(22, 148, 231);
    
}
#jobcate{
    border-top-style: solid;
    border-top-color: rgb(22, 148, 231);
    border-radius: 1rem;

}
#upldbtn{
    display: none;
}



#book-card{ 
    border-top-style: solid;
    border-top-color: rgb(22, 148, 231);
    border-radius: 1.5rem;
    width: 70%;
    background-color: #F9F9F9;
}